/* Header.css */
.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#logo1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile img {
  border-radius: 50%;
  margin-right: 8px;
}

.nav-link {
  position: relative;
}

.nav-link .dropdown {
  position: absolute;
  right: 0;
  top: 100%;
}
